<html>
<head>
  	<title>login page</title>
  	<link rel="stylesheet" type="text/css" href="link.css"/>
  </head>
  <body>

  <div style="width:1000px;height:500px;border:solid 2px blue;">

  <div class="header-top" style="background-color:#A9A9A9; width:1000px;height:120px;">
<h1 align="center" style="color:black;">Gambling Site</h1>
</div>
<div style="background-color:#ffffff; width:1000px;height:380px;">
	<br>
	<br>
	<br>
    <form align="center" action="/login" method='post'>
      User &emsp;&emsp;<input type='text' id='username' name='username'></input><br>
      <br>
      Password <input type='text' id='password' name='password'></input>
      <br>
      <br>
      <input type='submit' name='Login' value="Login" style="margin-left:150px;"></input>
</form>
</div>
      </body>
</html>